*.app
*.autosave
*.bak
*.crt
*.ddeb
*.deb
*.dll
*.dmg
*.exe
*.log
*.pem
*.pro.user
*.pro.user*
*.rpm
*.swp
*.user
*.xz
*.zip
*~
.DS_Store
build
build-*
doc/
installer/config/config.xml
installer/packages/com.qindel.qvd/data/
installer/packages/com.qindel.qvd/meta/package.xml
nohup.out
