<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>QVD Client</Name>
    <Version>4.3</Version>
    <Title>QVD Client Installer</Title>
	<Logo>pixmaps/qvd-big.png</Logo>
	<InstallerApplicationIcon>pixmaps/qvd</InstallerApplicationIcon>
    <Publisher>Qindel Group</Publisher>
	<ProductUrl>https://theqvd.com</ProductUrl>
    <StartMenuDir>QVD</StartMenuDir>
    <TargetDir>@ApplicationsDirUser@\QVD Client Qt</TargetDir>
	<AdminTargetDir>@ApplicationsDir@\QVD Client Qt</AdminTargetDir>
</Installer>
